<!-- <div [ngClass]="{hide: disableBtn}">

  <mat-card >
    <mat-card-content class="lkp-field">
      <mat-form-field appearance="outline" class="searchLookUpTxt full-width" id="lkp-{{uniqueId}}"
        [ngClass]="{'allow-mulselect': info.multiSelectOption, 'pb-0': (info.multiSelectOption && selectedData && selectedData.length > 0)}">
        <mat-label>@if (isShowSearchText) {
          <span>Search</span>
          } @if (isShowSelectText) {
          <span>Select</span>
        }
      {{info.lookupTitle}} </mat-label>
      <input type="text" matInput [(ngModel)]="searchVal" maxlength="1000" (keyup.enter)="onFilterClick();"
        [readonly]="selectedText!=''" [disabled]="isDisabled"/>

        @if (!isDisabled) {
          <div class="buttonlookup">
            @if (selectedText != '') {
              <button matSuffix mat-raised-button matTooltip="Clear" class="btnlookup clear" (click)="clear()"
                type="button" [disabled]="disableBtn">
                <fa-icon icon="close"></fa-icon>
              </button>
            }
            <button matSuffix mat-raised-button type="button" class="btnlookup" (click)="onFilterClick()"
              [ngClass]="{'hide': selectedText != ''}">
              <span class="fa-icon-magnifying-glass-regular search-icon-k"></span>
            </button>
          </div>
        }
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
@if (disableBtn) {
  <div>
    <app-label [appLabel]="getLabelObj()"></app-label>
  </div>
} -->




<div [ngClass]="{hide: disableBtn}" class="mspl-lookup-section">

    <mat-card >
        <mat-card-content class="lkp-field">
            <mat-form-field appearance="outline" class="searchLookUpTxt full-width" id="lkp-{{uniqueId}}"
                [ngClass]="{'allow-mulselect': info.multiSelectOption, 'pb-0': (info.multiSelectOption && selectedData && selectedData.length > 0)}">
                <mat-label class="custom-text-label">
                    <span *ngIf="isShowSearchText">Search</span>
                    <span *ngIf="isShowSelectText">Select&nbsp;</span>
                    <span>{{info.lookupTitle}} </span>
                    <sup *ngIf="isMandatory" class="mandatory-view red"> <span>&#8727;</span> </sup>
                </mat-label>
                <input type="text" matInput [(ngModel)]="searchVal" maxlength="1000" (keyup.enter)="onFilterClick();"
                    [readonly]="selectedText!=''" [disabled]="isDisabled" />
                    
                @if (!isDisabled) {
                <div class="buttonlookup">

                    @if (isLoading()) {
                    <div class="btnlookup spinner-container">
                        <mat-progress-spinner class="custom-spinner" color="primary" mode="indeterminate" diameter="25"
                            strokeWidth="3">
                        </mat-progress-spinner>
                    </div>
                    }
                    @else if(selectedText && selectedText.length > 0) {
                    <button matSuffix mat-raised-button matTooltip="Clear" class="btnlookup clear" (click)="clear()"
                        type="button" [disabled]="disableBtn">
                        <fa-icon icon="close"></fa-icon>
                    </button>
                    }
                    @else {
                    <button matSuffix mat-raised-button type="button" class="btnlookup" (click)="onFilterClick()">
                        <i class="fa-icon-search-mat-icon"></i>
                    </button>
                    }

                </div>
                }
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="disableBtn">
    <app-label [appLabel]="labelObj"></app-label>
</div> 