.process-material-inward {
  .confirmation {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          flex: 0 0 50px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 10%;
        }
        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          max-width: 130px;
        }
        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 120px;
        }

        .mat-mdc-header-cell:nth-child(5),
        .mat-mdc-cell:nth-child(5) {
          max-width: 130px;
        }

        .mat-mdc-header-cell:nth-child(6),
        .mat-mdc-cell:nth-child(6) {
          max-width: 90px;
        }

        .mat-mdc-header-cell:nth-child(7),
        .mat-mdc-cell:nth-child(7) {
          max-width: 90px;
        }
      }
    }
  }
  .confirmation {
    .material-samples {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          flex: 0 0 50px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 15%;
        }
      }
    }
  }

  .pre-inspection {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          flex: 0 0 50px;
          padding-left: 0px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 0 0 50px;
          padding-left: 0px !important;
        }
        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
        }
        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 120px;
        }

        .mat-mdc-header-cell:nth-child(5),
        .mat-mdc-cell:nth-child(5) {
          max-width: 130px;
        }

        .mat-mdc-header-cell:nth-child(6),
        .mat-mdc-cell:nth-child(6) {
          min-width: 110px;
          max-width: 110px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(7),
        .mat-mdc-cell:nth-child(7) {
          max-width: 70px;
        }

        .mat-mdc-header-cell:nth-child(8),
        .mat-mdc-cell:nth-child(8) {
          min-width: 180px;
          max-width: 180px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(9),
        .mat-mdc-cell:nth-child(9) {
          min-width: 100px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }
  }
  .receipt {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          flex: 0 0 50px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 25%;
        }

        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          max-width: 120px;
        }
        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 120px;
        }

        .mat-mdc-header-cell:nth-child(8),
        .mat-mdc-cell:nth-child(8) {
          max-width: 120px;
        }

        .mat-mdc-header-cell:nth-child(9),
        .mat-mdc-cell:nth-child(9) {
          min-width: 130px;
        }
      }
    }
  }
}
.general-material-inward {
  .receipt {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          flex: 0 0 50px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 25%;
        }

        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          max-width: 120px;
        }
        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 120px;
        }

        .mat-mdc-header-cell:nth-child(8),
        .mat-mdc-cell:nth-child(8) {
          max-width: 80px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(9),
        .mat-mdc-cell:nth-child(9) {
          min-width: 80px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }
  }

  .item-details {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          flex: 0 0 50px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 25%;
        }

        .mat-mdc-header-cell:nth-child(9),
        .mat-mdc-cell:nth-child(9) {
          min-width: 120px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }
  }

  .confirmation {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          max-width: 80px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          max-width: 80px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          flex: 0 0 25%;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 100px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(5),
        .mat-mdc-cell:nth-child(5) {
          max-width: 80px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(9),
        .mat-mdc-cell:nth-child(9) {
          max-width: 100px;
          min-width: 100px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }
  }
}
.stock-transfers {
  .mat-mdc-table {
    .mat-mdc-header-cell:nth-child(1),
    .mat-mdc-cell:nth-child(1) {
      flex: 0 0 10%;
      padding-left: 10px !important;
    }

    .mat-mdc-header-cell:nth-child(2),
    .mat-mdc-cell:nth-child(2) {
      flex: 1 1 20%;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    .mat-mdc-header-cell:nth-child(4),
    .mat-mdc-cell:nth-child(4) {
      max-width: 100px;
    }

    .mat-mdc-header-cell:nth-child(8),
    .mat-mdc-cell:nth-child(8) {
      max-width: 120px;
    }

    .mat-mdc-header-cell:nth-child(9),
    .mat-mdc-cell:nth-child(9) {
      max-width: 190px;
      min-width: 190px;
    }
  }
}
.check-list-grid {
  .mat-mdc-table {
    .mat-mdc-header-cell:nth-child(1),
    .mat-mdc-cell:nth-child(1) {
      max-width: 50px;
      padding-left: 10px !important;
    }

    .mat-mdc-header-cell:nth-child(2),
    .mat-mdc-cell:nth-child(2) {
      flex: 1 1 10%;
    }

    .mat-mdc-header-cell:nth-child(3),
    .mat-mdc-cell:nth-child(3) {
      max-width: 140px;
    }

    .mat-mdc-header-cell:nth-child(4),
    .mat-mdc-cell:nth-child(4) {
      max-width: 190px;
    }

    .mat-mdc-header-cell:nth-child(5),
    .mat-mdc-cell:nth-child(5) {
      max-width: 120px;
    }
    .mat-mdc-header-cell:nth-child(6),
    .mat-mdc-cell:nth-child(6) {
      min-width: 80px;
      max-width: 80px;
      padding-left: 10px !important;
    }
  }
}

.proc_mat_inward-view {
  .pre-inspection {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          flex: 0 0 50px;
          padding-left: 0px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 20%;
          padding-left: 0px !important;
        }

        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          max-width: 130px;
        }

        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 130px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(5),
        .mat-mdc-cell:nth-child(5) {
          max-width: 120px;
          min-width: 120px;
        }

        .mat-mdc-header-cell:nth-child(6),
        .mat-mdc-cell:nth-child(6) {
          max-width: 100px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(7),
        .mat-mdc-cell:nth-child(7) {
          min-width: 180px;
          max-width: 180px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }
  }

  .receipt {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          flex: 0 0 50px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 25%;
        }

        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          max-width: 120px;
        }
        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 120px;
        }

        .mat-mdc-header-cell:nth-child(8),
        .mat-mdc-cell:nth-child(8) {
          max-width: 120px;
        }

        .mat-mdc-header-cell:nth-child(9),
        .mat-mdc-cell:nth-child(9) {
          min-width: 130px;
        }
      }
    }
  }

  .confirmation {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          flex: 0 0 50px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 10%;
        }
        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          max-width: 130px;
        }
        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 120px;
        }

        .mat-mdc-header-cell:nth-child(5),
        .mat-mdc-cell:nth-child(5) {
          max-width: 130px;
        }

        .mat-mdc-header-cell:nth-child(6),
        .mat-mdc-cell:nth-child(6) {
          max-width: 90px;
        }

        .mat-mdc-header-cell:nth-child(7),
        .mat-mdc-cell:nth-child(7) {
          max-width: 90px;
        }
      }
    }
  }
}

.genrl_mat_inward-view {
  .receipt {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          flex: 0 0 50px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 25%;
        }

        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          max-width: 120px;
        }
        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 120px;
        }

        .mat-mdc-header-cell:nth-child(8),
        .mat-mdc-cell:nth-child(8) {
          max-width: 80px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(9),
        .mat-mdc-cell:nth-child(9) {
          min-width: 80px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }
  }

  .item-details {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          flex: 0 0 50px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 25%;
        }

        .mat-mdc-header-cell:nth-child(9),
        .mat-mdc-cell:nth-child(9) {
          min-width: 120px;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }
  }

  .confirmation {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          max-width: 80px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 25%;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          max-width: 100px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 80px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(8),
        .mat-mdc-cell:nth-child(8) {
          min-width: 100px;
          padding-left: 10px !important;
        }
      }
    }
  }
}
.updt_inv-view {
  .initiation {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          max-width: 80px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 5%;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          flex: 1 1 15%;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(5),
        .mat-mdc-cell:nth-child(5) {
          max-width: 120px;
        }
      }
    }
  }

  .item-details {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          max-width: 80px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 2%;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          flex: 1 1 16%;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 130px;
        }

        .mat-mdc-header-cell:nth-child(6),
        .mat-mdc-cell:nth-child(6) {
          max-width: 150px;
        }

        .mat-mdc-header-cell:nth-child(7),
        .mat-mdc-cell:nth-child(7) {
          max-width: 130px;
        }

        .mat-mdc-header-cell:nth-child(8),
        .mat-mdc-cell:nth-child(8) {
          max-width: 130px;
        }
      }
    }
  }
}
.outboundmaterials-view {
  .request {
    .materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          max-width: 80px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 15%;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          max-width: 140px;
        }
        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 100px;
        }

        .mat-mdc-header-cell:nth-child(5),
        .mat-mdc-cell:nth-child(5) {
          max-width: 120px;
        }

        .mat-mdc-header-cell:nth-child(6),
        .mat-mdc-cell:nth-child(6) {
          min-width: 160px;
          max-width: 160px;
        }
      }
    }
  }

  .release {
    .add-materials-items {
      &.mat-mdc-table {
        .mat-mdc-header-cell:nth-child(1),
        .mat-mdc-cell:nth-child(1) {
          max-width: 80px;
          padding-left: 10px !important;
        }

        .mat-mdc-header-cell:nth-child(2),
        .mat-mdc-cell:nth-child(2) {
          flex: 1 1 15%;
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
        .mat-mdc-header-cell:nth-child(3),
        .mat-mdc-cell:nth-child(3) {
          max-width: 140px;
        }
        .mat-mdc-header-cell:nth-child(4),
        .mat-mdc-cell:nth-child(4) {
          max-width: 100px;
        }

        .mat-mdc-header-cell:nth-child(5),
        .mat-mdc-cell:nth-child(5) {
          max-width: 120px;
        }

        .mat-mdc-header-cell:nth-child(6),
        .mat-mdc-cell:nth-child(6) {
          min-width: 160px;
          max-width: 160px;
        }
      }
    }
  }
}
.general-indent-type-mapping {
  &.mat-mdc-table {
    .mat-mdc-header-cell:nth-child(4),
    .mat-mdc-cell:nth-child(4) {
      max-width: 100px;
    }

    .mat-mdc-header-cell:nth-child(6),
    .mat-mdc-cell:nth-child(6) {
      max-width: 180px;
    }
  }
}
indent-returns {
  .mat-mdc-table {
    .mat-mdc-header-cell:nth-child(3),
    .mat-mdc-cell:nth-child(3) {
      flex: 1 1 15%;
    }

    .mat-mdc-header-cell:nth-child(8),
    .mat-mdc-cell:nth-child(8) {
      max-width: 180px;
    }
  }
}
