
@for $i from 1 through 100{
  .w-#{$i}{
    width: #{$i * 1%}!important;
  }
}

@for $i from 1 through 300 {
  .h-#{$i} {
    height: calc(100vh - #{$i}px) !important;
  }
}

@for $i from 1 through 50 {
  .p-#{$i} {
    padding: #{$i}px !important;
  }
}

@for $i from 100 through 400 {
  .minw-#{$i} {
    min-width: #{$i}px !important;
  }
}

@for $i from 100 through 500 {
  .mnh-#{$i}px {
    min-height: calc(100vh - #{$i}px) !important;
  }
}

@for $i from 100 through 900 {
  .mxh-#{$i}px {
    max-height: calc(100vh - #{$i}px) !important;
    overflow-y: auto;
  }
}

@for $i from 1 through 700 {
  .mh-#{$i} {
    .mat-mdc-table {
      max-height: calc(100vh - #{$i}px) !important;
    }
  }
}

@for $i from 1 through 30 {
  .gap-#{$i} {
    gap: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }
}

@for $i from 1 through 50 {
  .mt-#{$i}x {
    margin-top: #{$i}px !important;
  }
}

@for $i from 1 through 50 {
  .mb-#{$i}x {
    margin-bottom: #{$i}px !important;
  }
}

@for $i from 1 through 20 {
  .mr-#{$i}x {
    margin-right: #{$i}px !important;
  }
}

@for $i from 1 through 50 {
  .pl-#{$i}x {
    padding-left: #{$i}px !important;
  }
}

@for $i from 1 through 50 {
  .pr-#{$i}x {
    padding-right: #{$i}px !important;
  }
}

@for $col from 1 through 100 {
  .mspl-column-width-#{$col} {
    min-width: #{$col * 1%} !important;
  }
}

//-------------------------
@for $i from 1 through 20 {
  $val: $i * 5;
  .grid-col-#{$val} {
    flex-basis: #{$val * 1%}!important;
    max-width: #{$val * 1%}!important;
  }
}

@for $i from 1 through 50 {
  $val: $i * 2;
  .grid-col-#{$val} {
    flex-basis: #{$val * 1%} !important;
    max-width: #{$val * 1%} !important;
  }
}

@for $i from 1 through 40 {
  $val: $i * 10;
  .grid-col-#{$val}px {
    flex-basis: #{$val}px!important;
    max-width: #{$val}px!important;
  }
}